{{#if addNewQuestion}}

  <div>

    <form>

      <div class="form-group">
        {{input value=author id="author" placeholder="User Name"}}
      </div>

      <div class="form-group">
        {{textarea value=question id="question" placeholder="What's Your Question?"}}
      </div>

      <div class="form-group">
        {{textarea value=image id="image" placeholder="Any Image? If Yes Link to Image"}}
      </div>

      <button {{action 'saveNewQuestion'}}> Send </button>

    </form>

  </div>

{{/if}}
