<div class="container">

  {{#if addNewQuestion}}

    <div>

      <form>

        <div class="form-group">

          {{input value=author id="author" placeholder="User Name"}}

          {{input value=question id="question" placeholder="What's Your Question?"}}

          <button {{action 'saveNewQuestion'}}> Send </button>

        </div>

        <div class="form-group">

        </div>



      </form>

    </div>

  {{/if}}

</div>
