<div class="container">

<div class="que-detail" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7rFU0t0ppwwdVdZQu9mcEaXMwC93SKLo1gc6uqFfvOpISTEE6'); color: white;">

  <div class="txt">
    {{question.question}}
  </div>

  <button id="del" {{action 'delete' question}}> DELETE </button>

  <button id="ans" {{action 'answerFormShow'}}> ANSWER </button>



</div>






      <h3> ANSWERS</h3>

  <ul>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </ul>


</div>
