<div class="container" id="ques">

  <hr>

  <li>

  {{#link-to 'question' question.id}}

      Posted by {{question.author}} {{moment-from-now (now interval=1000)}} <br>

      {{question.question}}

  {{/link-to}}

  </li>

</div>
