.newQue {
  margin-top: 40px;
  text-align: center;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  width: 400px;
}

button {
  border-radius: 5px;
  background-color: orange;
  border-color: orange;
  color: white;
}

button:hover {
  color: black;
  background-color: white;
  border-color: white;
}

#question {
  width: 500px;
}

.que-detail {
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}

.row {
  margin-top: 40px;
}

#home {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.txt {
  font-size: 24px;
}

#ans {
  margin-top: 45px;
}

#del {
  margin-top: 30px;
}

#userProfile {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  float: right;
}

.user {
  float: right;
}
