h1 {
  text-align: center;
}

.newQue {
  margin-top: 40px;
  text-align: center;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  background-color: orange;
  border-color: orange;
  color: white;
}

button:hover {
  color: black;
  background-color: white;
  border-color: white;
}

#question {
  width: 500px;
}

.row {
  margin-top: 40px;
}

#home {
  text-align: center;
  margin-top: 50px;
}

li {
  list-style-type: none;
}

.que-detail {
  margin-top: 50px;
  height: 200px;
  text-align: center;
}

.txt {
  text-align: center;
  padding-top: 60px;
  font-size: 24px;
}

#ans {
  margin-top: 45px;
}
