h1 {
  text-align: center;
}

.newQue {
  margin-top: 40px;
  text-align: center;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

#question {
  width: 500px;
}

.row {
  margin-top: 40px;
}

#home {
  text-align: center;
  margin-top: 50px;
}

#link-to {
  color: grey;
}
