<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

      {{#link-to 'index' class="navbar-brand"}} AIRLOCK {{/link-to}}

    </div>

    <div class="container" id="nav-btns">

    <div class="collapse navbar-collapse" id="main-nav-bar">

      <ul class="nav navbar-nav">
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}QUESTIONS{{/nav-link-to}}
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}CATEGORIES{{/nav-link-to}}
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}BLOG{{/nav-link-to}}
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}PROFILE{{/nav-link-to}}
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}LOGIN{{/nav-link-to}}
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}REGISTER{{/nav-link-to}}
      </ul>

    </div><!-- /.navbar-collapse -->

    </div>

  </div><!-- /.container-fluid -->

</nav>


{{outlet}}


<div class="container" id="home">

  {{#link-to 'index'}} HOME {{/link-to}}

</div>
