<div class="container">


  <h1> AIRLOCK </h1>

    <div class="row">

      <div class="col-md-2">
        <a href="#"> Questions </a>
      </div>

      <div class="col-md-2">
        <a href="#"> CATEGORIES </a>
      </div>

      <div class="col-md-2">
        <a href="#"> BLOG </a>
      </div>

      <div class="col-md-2">
        <a href="#"> PROFILE </a>
      </div>

      <div class="col-md-2">
        <a href="#"> LOGIN </a>
      </div>

      <div class="col-md-2">
        <a href="#"> REGISTER </a>
      </div>

    </div>

</div>


{{outlet}}


{{#link-to 'index'}} HOME {{/link-to}}
