<div class="newQue">

  {{new-question saveQuestion1="saveQuestion2"}}
  
</div>



<h3> Trending Questions</h3>

<ul>

  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}

</ul>
